{% extends './index.html' %}

{% block title %} Sales | {{ date }} {% endblock %}

{% block pageName %} Sales for {{ date }} {% endblock %}

{% block pageNameUrl %} Sales {% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Seller</th>
                    <th scope="col">Drug</th>
                    <th scope="col">Selling Price</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ sale.seller.profile.full_name }}</td>
                    <td>{{ sale.drug.name }}</td>
                    <td>{{ sale.selling_price }}</td>
                </tr>
                {% empty %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>Empty</td>
                    <td>Empty</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfooter>
                <tr>
                    <th></th>
                    <th></td>
                    <th>Total</td>
                    <th>{{ total_price }}</td>
                </tr>
            </tfooter>
        </table>

    </div>
</div>
{% endblock %}