{% extends './index.html' %}

{% block title %} shortages {% endblock %}

{% block pageName %} Drugs out of Stock {% endblock %}

{% block pageNameUrl %} Shortages {% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Drug</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Selling Price</th>
                </tr>
            </thead>
            <tbody>
                {% for drug in shortages %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ drug.name }}</td>
                    <td class="text-danger">{{ drug.qty_in_stock }}</td>
                    <td>{{ drug.price }}</td>
                </tr>
                {% empty %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>Empty</td>
                    <td>Empty</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}