{% extends './index.html' %}

{% block title %} All Drugs {% endblock %}

{% block pageName %} All Drugs {% endblock %}

{% block pageNameUrl %} Drugs {% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Quantity</th>
                    {% if request.user.profile.role.name == 'Administrator' %}
                    <th scope="col">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for drug in drugs %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ drug.name }}</td>
                    <td>{{ drug.description }}</td>
                    <td>{{ drug.price }}</td>
                    <td>{{ drug.qty_in_stock }}</td>
                    <td>
                        {% if request.user.profile.role.name == 'Administrator' %}
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="{% url 'administrator:update_drug' drug.name %}" class="btn btn-info"
                                role="button">
                                Update
                            </a>
                            <button type="button" class="btn btn-danger disabled">Delete</button>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>Empty</td>
                    <td>Empty</td>
                    <td>Empty</td>
                    <td>Empty</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}